.Admin{
    margin: 0 auto;
    margin-top: 20px;
    max-width: 700px;
    padding: 25px 25px;
    background: #fff;
}
   

.Label{
    display: block;
    color: green;   
}
 

.Givemepad{
    margin-right: 20px;
}
    