.Admin{
    margin: 0 auto;
    margin-top: 20px;
    max-width: 700px;
    padding: 25px 25px;
    background: #fff;
    color:#28d;
}
/* body {
    background: #e2e1e0;
    text-align: center;
  }  */

.Label{
    display: block;
    color: #28d;   
}
 

.Givemepad{
    margin-right: 20px;
}
#email{
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 5px #666 inset;
    -moz-box-shadow:0 0 5px #666 inset;
    box-shadow:0 0 5px #666 inset;
    height:35px;
    line-height:25px;
    width:200px;
    text-indent:5px; 
    border:0px; 
}
/* .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
  }
  
  .card-1 {
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } */